@model IEnumerable<SP749415_MIS4200.Models.Pets>

@{
    ViewBag.Title = "Pets";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Pet", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petSpecies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petBreed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petAge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petSpecies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petBreed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petAge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.petID }) |
            @Html.ActionLink("Details", "Details", new { id=item.petID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.petID })
        </td>
    </tr>
}

</table>
