@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OU College of Business</h1>
    <p class="lead">I am a college of business student studying MIS and Analytics.</p>
    <p><a href="https://business.ohio.edu/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Equestrian Team</h2>
        <p>
            I'm on OU's equestrian team. Here is our website.
        </p>
        <p><a class="btn btn-default" href="https://ouethuntseat.weebly.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dog Shelter</h2>
        <p>I also volunteer at the Athens County dog shelter.</p>
        <p><a class="btn btn-default" href="http://www.co.athensoh.org/residents/dog_shelter/index.php">Learn more &raquo;</a></p>
        <h2>Links to sample models</h2>
        @Html.ActionLink("Customers", "Index", "Customers")<br />
        @Html.ActionLink("Orders", "Index", "Orders")<br />
        @Html.ActionLink("Products", "Index", "Products")<br />
        @Html.ActionLink("Pets", "Index", "Pets")<br />
        @Html.ActionLink("Vets", "Index", "Vets")<br />
        @Html.ActionLink("Appointments", "Index", "Appointments")<br />
    </div>
    <div class="col-md-4">
        <h2>Stonegate Farm</h2>
        <p>This is the barn the equestrian team rides at.</p>
        <p><a class="btn btn-default" href="http://stonegateequinefacility.com/">Learn more &raquo;</a></p>
    </div>
</div>