@model IEnumerable<SP749415_MIS4200.Models.Appointments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pets.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.vetFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appointmentDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pets.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.vetFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appointmentDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.appointmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.appointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.appointmentID })
        </td>
    </tr>
}

</table>
